<% quotes.forEach((quote) => { %>
  <div class="student-card">
    <div class="student-card-top">
      <h3><%= quote.body %></h3>
      <img class="avatar-sm "src="images/<%= quote.owner.imgPath %>" alt="">
      <p><%= quote.owner.username %></p>
    </div>
    <a class="link" href="/quotes/<%= quote._id%>"></a>
  </div>
<% }) %>
