<div class="form-container">
  <h1 class="form-title">Create a new Quote</h1>
  <div class="error-container">
    <% if (errorMessage.length) { %>
      <p><%= errorMessage %></p>
    <% } %>
  </div>
  <form method="POST" action="/quotes">
    <div class="quote-field">
      <textarea type="text" placeholder="Write your quote..." name="body" /></textarea>
    </div>
    <div class="field-inline">
      <input type="text" placeholder="Who?" name="from" />
      <input type="text" placeholder="Where?" name="location" />
    </div>
    <div class="submit">
      <button type="submit" class="btn btn-submit">Send quote</button>
    </div>
  </form>
</div>