<div class="form-container">
  <h1 class="form-title">Create your Iron quote</h1>
  <form method="POST" action="/quotes">
    <div class="field">
      <input type="text" placeholder="Write your quote..." name="body" />
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-submit">Send quote</button>
    </div>
  </form>
</div>