<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Sebachowa/quote" target=”_blank”><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Module 2 reference project - Ironhack Barcelon Web Dev Bootcamp
  </div>
</div>