<nav>
  <div class="logo">
    <h1>quote</h1>
      <a href="/"></a>
  </div>
  <div class="navbar-right">
    <% if (currentUser) { %>
      <form method="POST" action="/auth/logout">
        <button type="submit" class="navbar-item navbar-link">Log out</button>
      </form>
    <% } else { %>
      <a href="/auth/login" class="navbar-item navbar-link">Log in</a>
      <a href="/auth/signup" class="navbar-item navbar-link">Sign up</a>
    <% }; %>
  </div>
</nav>


