/* ---------- RESET ---------- */

html {
  box-sizing: border-box;
  min-height: 100vh;  
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  background: initial;
  text-decoration: none;
  cursor: pointer;
}

/* ---------- TYPOGRAPHY ---------- */

body {
  color: rgb(51, 51, 51 );
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

/* ---------- LAYOUT ---------- */

#main-container { 
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.avatar-sm {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}


/* ---------- Home ---------- */

.logo {
  width: 300px;
} 

.main-title {
  width: 300px;
  font-size: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 10px;
}


/* ---------- NAVBAR ---------- */

nav {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #F4F4F4;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

nav .logo {
  position: relative;
  transition: all 0.3s ease;
}

nav .logo h1 {
  font-size: 35px;
}

nav .logo a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav .logo:hover {
  color: #3D7DB1;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  color: #616668;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  user-select: none;
}

.navbar-link {
  cursor: pointer;
  color: #616668;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  vertical-align: text-top;
  margin-left: 20px; 
}

.navbar-or {
  color: #616668;
  font-size: 14px;
  padding: 0px;
  text-decoration: none;
  cursor: initial;
  padding: 0 20px;
}

.navbar-link:hover {
  color: #3D7DB1;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* ---------- FOOTER ---------- */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: lightgray;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #3D7DB1;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer .fa-heart {
  color: #D23333;
  margin: auto 10px;
}

.footer-copyright {
  font-weight: 100;
}

/* ---------- QUOTE CARD ---------- */

.quote-card {
  margin: 0 auto;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  width: 60%;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.quote-card .quote-body {
  height: 80%;
  width: 100%;
  text-align: center;
}

.quote-card .quote-body h3 {
  text-transform: capitalize;
}


.quote-card .quote-footer {
  height: 20%;
  width: 100%;
  text-align: right;
  vertical-align: baseline;
}


.quote-card .link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-decoration: none;
  z-index: 30;
}


.quote-card .link:hover {
  cursor: pointer;
}

/* ---------- FORM ---------- */

.form-container {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  padding: 50px;
}

.form-container form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
  margin-bottom: 20px;
}

.form-container .main-title {
  color: black;
  font-size: 20px;
}

.form-container .logo {
  display: flex;
  justify-content: space-around;
  padding: 0px 100px;
  margin-bottom: 40px;
}

.form-container .ih-logo{
  height: 30px;
  margin: 0px;
}

.form-container .form-title {
  text-align: center;
  font-weight: 100;
  margin-bottom: 40px;
}

form label {
  display: inline-block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 20px;
  font-size: 16px;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 2px;
}

form textarea {
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  height: 160px;
  width: 400px;
  border: none;
  border-radius: 2px;
}

form .submit {
  padding-top: 20px;
  width: 400px;
  text-align: end;
  margin-bottom: 0px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  width: 30%;
  background-color: #3D7DB1;
  cursor: pointer;
}
