/* ---------- RESET ---------- */

html {
  box-sizing: border-box;
  min-height: 100% !important;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100% !important;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  background: initial;
  text-decoration: none;
  cursor: pointer;
}

/* ---------- TYPOGRAPHY ---------- */

body {
  color: #3C4859;
  font-size: 16px;
  line-height: 147%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h5 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

/* ---------- LAYOUT ---------- */

#main-container { 
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.avatar-sm {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 #3C4859;
}


/* ---------- Home ---------- */

.logo {
  width: 300px;
} 

.main-title {
  width: 300px;
  font-size: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 10px;
}


/* ---------- NAVBAR ---------- */

nav {
  box-shadow: 0 1px 5px 0 #3C4859;
  background: #F4F4F4;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav .logo {
  position: relative;
  transition: all 0.3s ease;
}

nav .logo h1 {
  font-size: 35px;
}

nav .logo a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav .logo:hover {
  color: #0FACF3;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  color: #3C4859;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  user-select: none;
}

.navbar-link {
  cursor: pointer;
  color: #3C4859;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  margin-left: 20px; 
}

.navbar-link:hover {
  color: #0FACF3;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* ---------- FOOTER ---------- */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  box-shadow: 0 -1px 5px 0 #3C4859;
  z-index: 1;
}

.footer p {
  font-weight: lighter;
  font-size: 14px;
}

.footer-links a {
  color: #3C4859;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: #0FACF3;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* ---------- QUOTES INDEX ---------- */

.quotes-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-around;
}

.quote-card {
  box-shadow: 0px 0px 5px rgba(60, 72, 89, 0.507);
  width: 400px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  margin-bottom: 50px;
  border-radius: 2px;
}

.quote-card .quote-body {
  height: 80%;
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

.quote-card .quote-body h3 {
  color: white;
  text-shadow: 0 0 2px black;
  z-index: 2;
  font-size: 24px;  
}

.quote-card .quote-body a {
  color: white;
  z-index: 2;
  font-size: 100px;
  text-decoration: none;
  transition: 0.3s ease all
}

.quote-card .quote-body a:hover {
  font-size: 110px;
  transition: 0.3s ease all;
}


.quote-card .quote-body a:active {
  font-size: 90px;
  transition: 0.3s ease all;
}

.quote-body .quote-background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.quote-card .quote-footer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
}

#like {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  margin-top: -40px;
}

.quote-footer .button-holder {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.quote-footer .button-holder .heart {
  width: 30px;
  height: 30px;
  line-height: 80px;
  outline: 0 !important;
}

.quote-footer .quote-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quote-card h3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: lighter;
  letter-spacing: 2px;
}

.quote-card .like-counter p {
  margin-right: 10px; 
}

.quote-card p { 
  text-transform: capitalize;
  font-family: 'Just Another Hand' !important;
  letter-spacing: 2px;
  font-size: 20px;
  display: inline;
}


.quote-card .link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-decoration: none;
  z-index: 2;
  transition: 0.3s ease all;
}

.quote-card .link:hover {
  cursor: pointer;
  background-color: rgba(60, 72, 89, 0.192);
  transition: 0.3s ease all;
}

/* ---------- FORM ---------- */

.form-container {
  border-radius: 5px;
  padding: 50px;
  min-width: 400px;
}

.form-container form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
  margin-bottom: 60px;
  border-bottom: 1px solid #3C4859;
  font-size: 22px;
  width: 100%;
}

form .field-inline {
  margin-bottom: 60px;
  font-size: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;

}

form .quote-field {
  margin-bottom: 60px;
  font-size: 22px;
  width: 100%;
}

.form-container .main-title {
  color: #3C4859;
  font-size: 20px;
}

.form-container .form-title {
  text-align: center;
  font-size: 40px; 
}

form label {
  display: inline-block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  font-size: 22px;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 15px;
}

form input:focus {
  outline: 0 !important;
}

form textarea:focus {
  outline: 0 !important;
}

form textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  font-size: 22px;
  border: 1px solid #3C4859;
  resize: none;
}

form .submit {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

form .submit button {
  padding: 10px 40px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  background-color: #0FACF3;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

form .submit button:focus {
  outline: 0 !important;
}

.error-container {
  height: 80px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-block-end: 50px;
}

.error-container p {
  background: #CA054D;
  line-height: 50px;
  border-radius: 5px;
  color: white;
}

.field-delete {
  display: flex;
  width: 100%;
  justify-content: center;

}

input[type='checkbox'] {
  height: 20px;
  display: inline-block;
  width: 20px;  
}

.field-delete h5 {
  margin-left: 10px;
  color: #CA054D;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #757575;
    background-color: #f4f4f4;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 16px;
    width: 100%;
    transition: ease-in-out 0.3s all;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #757575;
    color: #f4f4f4;
    transition: ease-in-out 0.3s all;
}

.inputfile + label {
  cursor: pointer;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}
