<div class="student-container">
  <h1 class="name"><%= student.name %></h1>
  <h3 class="occupation"><%= student.occupation %></h3>
  <img class="avatar" src="<%= student.photo %>" alt="">
  <p class="phrase"><em>&quot;<%= student.catchPhrase %>&quot;</em></p>
</div>